<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tela1</title>

    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/global.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/tela1.css">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <a href="/tela1.html"><img src="/assets/logo_white.svg" alt="on no curso"></a>
        </div>
    </header>

    <main>
        <div class="wrapper-container">
            <div class="logo-hero">
                <img src="/assets/logo_blue.svg" alt="on no curso">
            </div>
            <div class="info-subtitle">
                <h2>Qual o seu perfil?</h2>
            </div>
            <div class="buttons-wrapper">
                <div class="button-container">
                    <a href="#">facilitador</a>
                </div>
                <div class="button-container">
                    <a href="/tela3.html">aluno</a>
                </div>
            </div>
        </div>
    </main>
    <div class="footer-wrapper"></div>
</body>

</html>