<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <!--CSS-->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/reset.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/estiloT2.css') }}">

    <title>On No Curso</title>
  </head>
  <body>
    <!-- header -->
    <div id="header">
      <a href="{{url_for('homepage')}}">
        <img src="{{ url_for('static', filename='assets/logo_white.svg')}}" alt="Logo On No Curso" />
      </a>
    </div>

    <!--descrição: tipo de usuário e descrição-->

    <h1 id="titulo">Facilitador</h1>
    <h2 id="subtitulo">Preencha os campos abaixo para divulgar seu curso:</h2>

    <!--Descrição de cada caixa do formulário-->
    <div class="form-names">
      <h3 id="a1">Nome do curso:</h3>
      <h3 id="a2">Nome do facilitador:</h3>
      <h3 id="a3">Link de cadastro:</h3>
      <h3 id="a4">Data e Hora:</h3>
      <h3 id="a5">Preço:</h3>
      <h3 id="a6">Gera certificado?</h3>
    </div>
    <h3 id="Rodape">
      On No Curso: Facilitando a vida de estudantes e profissionais de
      tecnologia.
    </h3>
    <!--Campos do formulário-->
    <form action='/tela3' method='post'>
      <input id="nome_curso" type="text" name="nome" placeholder="Nome..." />
      <input
        id="nome_facilitador"
        type="text"
        name="facilitador"
        placeholder="Facilitador..."
      />
      <input id="link" type="url" name="inscricao" placeholder="Link..." />
      <input id="info" type="datetime-local" name="informacao" />
      <input
        id="valor"
        type="number"
        name="preço"
        placeholder="Preço em R$..."
        min="0"
      />
      <input
        id="validacao"
        type="text"
        name="certificado"
        placeholder="Sim ou Não?"
      />
    </form>
    <input id="envio" type="submit" name="acao" value="Enviar" />
  </body>
</html>
